<nav class="main-nav">
  <a routerLink="/" class="nav-link" title="Home" routerLinkActive="active">Home</a>
  <a routerLink="/docs" class="nav-link" title="View reference documents" routerLinkActive="active">Docs</a>
  <a routerLink="/faq" class="nav-link" title="Frequently Asked Questions" routerLinkActive="active">FAQ</a>
</nav>

<header class="disclaimer">
  <p>
    <strong>Disclaimer:</strong><br>
    <span class="highlight">16 August 2023</span> was the cut-off date for Ukrainians to apply for TPS.
    Those who arrived <strong>before</strong> this date remain TPS-eligible.
  </p>
  <p>
    Those who arrived <strong>after</strong> this date have begun losing their legal status as of
    <strong>16 August 2025</strong>, since DHS put a hold on re-parole processing from February to May/June 2025.
    Based on our observations, the first re-parole approvals started coming in only in late July.
  </p>
  <p>
    This is happening while Ukraine is still under full-scale war. Many parolees cannot return safely,
    yet have no available pathway to extend their lawful status in the U.S.
  </p>
  <p>
    References:
    <a
      href="https://www.federalregister.gov/documents/2025/01/17/2025-00771/extension-of-the-designation-of-ukraine-for-temporary-protected-status"
      target="_blank">
      Federal Register – 2025 Extension
    </a> |
    <a
      href="https://www.federalregister.gov/documents/2023/08/21/2023-17875/extension-and-redesignation-of-ukraine-for-temporary-protected-status"
      target="_blank">
      Federal Register – 2023 Redesignation + Extension
    </a>
  <p>
    The documents listed below are for informational purposes only. For source documents, please refer to the <a routerLink="/docs" class="nav-link" title="View reference documents" routerLinkActive="active">Docs</a>.
  </p>
  <p>
    They do not constitute legal advice. For legal assistance, please consult a qualified lawyer.
  </p>
</header>

<router-outlet></router-outlet>

<footer style="margin-top: 20px; font-size: 0.9em; text-align: center; color: #555;">
  Disclaimer: All data is sourced from
  <a href="docs/Parolee%20benefit%20tracking%20DHS.pdf" target="_blank" style="color: #007bff; text-decoration: none;">
    Parolee Benefit Tracking DHS.pdf
  </a>.
  <br/>
  See also:
  <a href="docs/OIG-25-30-Jul25.pdf" target="_blank" style="color: #007bff; text-decoration: none;">
    OIG-25-30-Jul25.pdf
  </a>,
  <a href="docs/AdministrativeHoldonAllUSCISBenefitRequestsFiledbyParoleesUnderU4U.pdf" target="_blank"
     style="color: #007bff; text-decoration: none;">
    Administrative Hold on All USCIS Benefit Requests Filed by Parolees Under U4U.pdf
  </a>.
</footer>
